@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;}

/* ヘッダー */
.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
.logo{
    color: #fff
}
.header-nav{
    width: 60%;
}
.header-nav ul{
    display: flex;
    justify-content: space-around;
}
.header-nav ul li{
    list-style: none;
}
.header-nav a{
    display: block;
    text-decoration: none;
    color: #fff;
    transition: 0.2s;
}
.header-nav a:hover{
    transform: scale(1.2);
}


/* hero-section */
section{
    width: 100%;
    height: 100vh;
}
.hero-section{
    position: relative;
}
.hero-section video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.main-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 3.5rem;
    opacity: 0.5;
}

/* about-section */
.about-section{
    display: flex;
}
.image-area{
    width: 66%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}
.image-area img{
    width: 50%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}
.text-area{
    width: 34%;
    margin-top: 70px;
    padding: 0 5%;
}
.text-area h2{
    margin-bottom: 15px;
    font-size: 1.5rem;
}
.text-area p{
    margin-bottom: 10px;
}

/* feature-section */
.feature-section{
    background: url(images/feature.bg.jfif);
    background-size: cover;
    position: relative;
}
.feature-section h2{
    font-size: 6rem;
    text-align: right;
    padding: 100px 30px;
}
.circles{
    border: 3px solid rgba(0,0,0,0.4);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    z-index: 1;
}
.circles:hover{
    transform: scale(1.2);
}
.circles h4{
    font-size: 1.2rem;
}
.circles i{
    font-size: 50px;
    color: #333;
}
.service{
    position: absolute;
    top: 100px;
    left: 150px;
}
.performance{
    position: absolute;
    top: 300px;
    left: 150px;
}
.design{
    position: absolute;
    top: 300px;
    left: 350px;
}
.technology{
    position: absolute;
    top: 300px;
    left: 550px;
}
.containers{
    width: 70%;
    height: 70%;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    padding: 50px 15%;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.container-title{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.container-title h3{
    font-size: 3rem;
}
.container-title i{
    font-size: 80px;
}
.containers p{
    margin-top: 20px;
}
.containers{
    z-index: -1;
}
.service-container.active{
    z-index: 2;
}
.performance-container.active{
    z-index: 2;
}
.design-container.active{
    z-index: 2;
}
.technology-container.active{
    z-index: 2;
}

/* gallery-section */
.gallery-section{
    padding-top: 50px;
    background-color: black;
}
.gallery-section h2{
    text-align: center;
    font-size: 2rem;
    color: #fff;
}
.gallery{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,200px);
    gap: 2px;
    justify-content: center;
}
.gallery a{
    width: 200px;
    height: 200px;
}
.gallery img{
    width: 200px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    padding: 2px;
}

/* contact-section */
.contact-section{
    background: url(images/contact.bg.jpg);
    background-size: cover;
    padding-top: 50px;
}
.contact-section h2{
    text-align: center;
    font-size: 2rem;
    color: rgba(0,0,0,0.8);
}

form{
    background-color: rgba(255,255,255,0.4);
    border-radius: 5px;
    width: 60%;
    margin: 0 auto;
    padding: 20px 5%;
    display: grid;
    grid-template-columns: 20% 80%;
}
label{
    font-weight: bold;
    margin: 5px 0;
    padding: 5px 0;
}
input{
    background-color: rgba(255,255,255,0.7);
    border: 2px solid rgba(0,0,0,0.4);
    border-radius: 5px;
    margin: 5px 0;
    padding: 5px 15px;
}
textarea{
    background-color: rgba(255,255,255,0.7);
    border: 2px solid rgba(0,0,0,0.4);
    border-radius: 5px;
    margin: 5px 0;
    padding: 5px 15px;
}
.button{
    background-color: black;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
}
.button:hover{
    transform: scale(1.2);
}

/* footer */
footer{
    background-color: black;

}
.main-footer{
    color: #fff;
    text-align: center;
    padding: 30px;
}
.main-footer h3{
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.main-footer h4{
    font-size: 1.2rem;
}
.main-footer p{
    margin-bottom: 10px;
}
.small-footer{
    color: #fff;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #fff;
}

/* レスポンシブ */
@media (max-width: 768px){    
    /* ヘッダー */
    .header{
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding-left: 0%;
        background-color: black;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
    }
    .logo{
        color: #fff;
        padding-left: 20px;
    }
    .header-nav{
        width: 100%;
    }
    .header-nav ul{
        display: flex;
        justify-content: space-around;
    }
    .header-nav ul li{
        list-style: none;
    }
    .header-nav a{
        display: block;
        text-decoration: none;
        color: #fff;
        transition: 0.2s;
    }
    .header-nav a:hover{
        transform: scale(1.2);
    }


    /* hero-section */
    section{
        width: 100%;
        height: auto;
    }
    .hero-section{
        height: 100vh;
        position: relative;
    }
    .hero-section video{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    .main-title{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: #fff;
        font-size: 3.5rem;
        opacity: 0.5;
    }

    /* about-section */
    .about-section{
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }
    .image-area{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: black;
    }
    .image-area img{
        width: 50%;
        height: auto;
        aspect-ratio: 1 / 1;
        object-fit: cover;
    }
    .text-area{
        width: 100%;
        margin-top: 15px;
        padding: 0 10%;
    }
    .text-area h2{
        text-align: center;
        margin-bottom: 15px;
        font-size: 1.5rem;
    }
    .text-area p{
        margin-bottom: 10px;
    }

    /* feature-section */
    .feature-section{
        height: 100vh;
        background: url(images/feature.bg.jfif);
        background-size: cover;
        position: relative;
    }
    .feature-section h2{
        font-size: 5rem;
        text-align: center;
        padding: 30px;
    }
    .circles{
        border: 3px solid rgba(0,0,0,0.4);
        border-radius: 10px;
        margin: 100px auto;
        width: 200px;
        height: 80px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        z-index: 1;
    }
    .circles:hover{
        transform: scale(1.2);
    }
    .circles h4{
        font-size: 20px;
    }
    .circles i{
        font-size: 20px;
        color: #333;
    }
    .service{
        position: static;
        top: 100px;
        left: 150px;
    }
    .performance{
        position: static;
        top: 300px;
        left: 150px;
    }
    .design{
        position: static;
        top: 300px;
        left: 350px;
    }
    .technology{
        position: static;
        top: 300px;
        left: 550px;
    }
    .containers{
        width: 80%;
        height: auto;
        background-color: rgba(0,0,0,0.8);
        color: #fff;
        padding: 50px 15%;
        border-radius: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .container-title{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .container-title h3{
        font-size: 2rem;
    }
    .container-title i{
        font-size: 30px;
    }
    .containers p{
        margin-top: 20px;
    }
    .containers{
        z-index: -1;
    }
    .service-container.active{
        z-index: 2;
    }
    .performance-container.active{
        z-index: 2;
    }
    .design-container.active{
        z-index: 2;
    }
    .technology-container.active{
        z-index: 2;
    }

    /* gallery-section */
    .gallery-section{
        padding-top: 50px;
        background-color: #fff;
    }
    .gallery-section h2{
        text-align: center;
        font-size: 2rem;
        color: black;
    }
    .gallery{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,100%);
        gap: 2px;
        justify-content: center;
    }
    .gallery a{
        width: 100%;
        height: auto;
    }
    .gallery img{
        width: 100%;
        aspect-ratio: 3 / 2;
        object-fit: cover;
        object-position: center;
        padding: 2px;
    }

    /* contact-section */
    .contact-section{
        background: url(images/contact.bg.jpg);
        background-size: cover;
        padding-top: 20px;
    }
    .contact-section h2{
        text-align: center;
        font-size: 2rem;
        color: rgba(0,0,0,0.8);
    }

    form{
        background-color: rgba(255,255,255,0.4);
        border-radius: 5px;
        width: 90%;
        margin: 0 auto;
        padding: 20px 5%;
        display: grid;
        grid-template-columns: 20% 80%;
    }
    label{
        font-weight: bold;
        margin: 5px 0;
        padding: 5px 0;
    }
    input{
        background-color: rgba(255,255,255,0.7);
        border: 2px solid rgba(0,0,0,0.4);
        border-radius: 5px;
        margin: 5px 0;
        padding: 5px 15px;
    }
    textarea{
        background-color: rgba(255,255,255,0.7);
        border: 2px solid rgba(0,0,0,0.4);
        border-radius: 5px;
        margin: 5px 0;
        padding: 5px 15px;
    }
    .button{
        width: 100px;
        background-color: black;
        border-radius: 5px;
        color: #fff;
        font-weight: bold;
    }
    .button:hover{
        transform: scale(1.2);
    }

    /* footer */
    footer{
        background-color: black;

    }
    .main-footer{
        color: #fff;
        text-align: center;
        padding: 30px;
    }
    .main-footer h3{
        font-size: 2.5rem;
        margin-bottom: 20px;
    }
    .main-footer h4{
        font-size: 1.2rem;
    }
    .main-footer p{
        margin-bottom: 10px;
    }
    .small-footer{
        color: #fff;
        text-align: center;
        padding: 20px;
        border-top: 1px solid #fff;
    }
}