@charset "utf-8";

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
li{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}



header{
    width: 4%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    transform: rotate(90deg);
}
header ul{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
}
header ul li a{
    font-size: 12px;
    transition: 0.5s;
}
header ul li a:hover{
    color: #fff;
}

@media (max-width: 768px){
    header{
        transform: rotate(0deg);
        width: 100%;
        height: 10vh;
    }
    header ul{
        gap: 20px;
    }
}


.hero-section{
    width: 100%;
    height: 100vh;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.hero-section canvas{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.hero-section h1{
    font-size: 3rem;
    font-weight: 800;
    color: #444;
    letter-spacing: 4px;
}
.hero-section p{
    width: 50%;
    font-size: 2rem;
    color: #444;
    font-weight: 700;
    letter-spacing: 3px;
    position: absolute;
    bottom: 10%;
    left: 50%;
}
.hero-section p span{
    font-size: 2.2rem;
    color: #fff;
}

@media (max-width: 768px){
    .hero-section{
        padding: 50px;
        gap: 50px;
    }
    .hero-section h1{
        font-size: 3rem;
        text-align: center;
    }
    .hero-section p{
        width: 100%;
        font-size: 1rem;
        position: static;
        white-space: nowrap;
    }
    .hero-section p span{
        font-size: 1.1rem;
    }
}



.about-section{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.about-section canvas{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.text-container{
    width: 70%;
    height: 100%;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
}
.about-section h2{
    margin-bottom: 20px;
    color: #fff;
}
.about-section p{
    margin-bottom: 10px;
    color: #fff;
    opacity: 0;
    transform: translateY(20px);
    transition: 1s;
}
.about-section p.active{
    opacity: 1;
    transform: translateY(0);
}
.about-section img{
    width: 55%;
    position: absolute;
    bottom: -10%;
    right: -10%;
}

@media (max-width: 768px){
    .about-section{
        padding: 30px;
        flex-direction: column;
        justify-content: space-between;
    }
    .text-container{
        width: 100%;
        padding: 0;
        position: static;
    }
    .about-section img{
        width: 55%;
        position: static;
    }
}



.news-section{
    width: 100%;
    height: 100vh;
    position: relative;
}
.bg{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
}
.bg1{
    background-image: url(images/bg_1.jpg);
    z-index: 4;
}
.bg2{
    background-image: url(images/bg_2.jpg);
    z-index: 3;
}
.bg3{
    background-image: url(images/bg_3.jpg);
    z-index: 2;
}
.bg4{
    background-image: url(images/bg_4.jpg);
    z-index: 1;
}

.card{
    width: 300px;
    height: 450px;
    background-color: rgba(255,255,255,0.6);
    border-radius: 3px;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    box-shadow: 5px 5px 30px rgba(255,255,255,0.5);
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    transform: translate(-50%,-50%);
}
.content{
    width: 100%;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateY(30px);
    transition: 1s;
}
.card:hover .content{
    opacity: 1;
    transform: translateY(0);
}
.content ul li{
    margin-bottom: 10px;
}
.content ul li p{
    font-size: 10px;
}
.content ul li h4{
    font-size: 12px;
}

@media (max-width: 768px){
    .bg1{
        background-image: url(images/mbg_1.jpg);
    }
    .bg2{
        background-image: url(images/mbg_2.jpg);
    }
    .bg3{
        background-image: url(images/mbg_3.jpg);
    }
    .bg4{
        background-image: url(images/mbg_4.jpg);
    }
    .card{
        backdrop-filter: blur(0);
    }
    .content.active{
        opacity: 1;
        transform: translateY(0);
    }
}



.works-section{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 2px;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
    overflow: hidden;
}
.works-section::after{
    content: "";
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #00a5dd;
    animation: bg 2s linear infinite ;
}
@keyframes bg{
    0%{
        height: 0%
    }
    100%{
        height: 100%
    }
}
.box{
    aspect-ratio: 1 / 1;
    background-color: #111;
    cursor: pointer;
    transition: 4s;
}
.box:hover{
    background-color: #00a5dd;
    transition: 0.1s;
}
.works-section h2{
    color: #fff;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    
}
.works-section ul{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    justify-content: center;
    gap: 20px;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}
.works-section ul li{
    width: 100%;
    height: 150px;
}
.works-section ul li a{
    display: block;
    width: 100%;
    height: 100%;
    background-color: black;
    position: relative;
}
.works-section ul li a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    vertical-align: top;
}
.works-section ul li a h4{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(30px);
    transition: 1s;
}
.works-section ul li a:hover h4{
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 1000px){
    .works-section ul{
        display: grid;
        grid-template-columns: 300px 300px;
        justify-content: center;
        gap: 20px;
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
    }
    
}

@media (max-width: 768px){
    .works-section{
        height: 100vh;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .works-section ul{
        display: grid;
        grid-template-columns: 300px;
        justify-content: center;
        gap: 20px;
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
    }
    .works-section ul li:nth-of-type(5){
        display: none;
    }
    .works-section ul li:nth-of-type(6){
        display: none;
    }
}



footer{
    width: 100%;
    padding: 50px;
    background-color: #00a5dd;
    color: #444;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
footer ul{
    padding: 20px 50px;
    border-left: 1px solid #444;
    border-right: 1px solid #444;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}
footer ul li a{
    transition: 0.5s;
}
footer ul li a:hover{
    color: #fff;
}