@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.hero-section{
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0 4%;

}
.title{
    padding: 30px 0;
    font-size: 1.5rem;
}
.about{
    width: 600px;
    height: 300px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px 30px;
    opacity: 0;
    transition: 0.2s;
    box-shadow: 3px 3px 10px black;
}
.about.active{
    opacity: 1;
    transition-delay: 3s;
}
.click-box{
    width: 100px;
    height: 50px;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 100px;
    left: 800px;
    background-color: black;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 3px 3px 0 #888;
}
.click-box.active{
    transform: translateY(-10px);
    background-color: #fff;
    transition-delay: 3s;
}
.click-box p{
    color: #fff;
    transition: 0.2s;
}
.click-box.active p{
    color: black;
    transition-delay: 3s;
}
.human{
    position: absolute;
    top: 450px;
    left: 100px;
    font-size: 32px;
}
.human.active{
    position: absolute;
    top: 140px;
    left: 840px;
    animation: humananim 3s ease-in;
}
@keyframes humananim {
    0% {
    transform: translate(-740px,310px);
    }
    60% {
    transform: translate(0,310px);
    }
    100% {
    transform: translate(0,0);
    }
  }
