@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Playfair Display', serif;
}

/* レスポンシブ用ヘッダー　*/
.media-header{
    width: 100vw;
    height: 15vh;
    padding-left: 4%;
    display: none;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(170, 134, 120);
}
.media-logo{
    font-size: 1rem;
    color: #fff;
}
.media-logo span{
    font-size: 1.5rem;
    padding: 0 5px 0 10px;
}
.header-menu{
    display: flex;
    align-items: center;
    position: relative;
}
.media-header a{
    color: #fff;
    text-decoration: none;
    background-color: rgb(6, 174, 0);
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 50px;
}
.burger i{
    color: #fff;
    padding: 10px;
}
.open-btn{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    opacity: 1;
}
.close-btn{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    opacity: 0;
}
.open-btn.active{
    opacity: 0;
}
.close-btn.active{
    opacity: 1;
}
.header-line.active{
    display: none;
}

/*　トップページ　*/
.top-page{
    width: 100%;
    height: 100vh;
}
.flex-container{
    display: flex;
}
.flex-container img{
    width: 35%;
}
.nav-bar{
    width: 40%;
    background-color: rgb(170, 134, 120);
    text-align: center;
}
.logo h4{
    margin-top: 20px;
    color: #fff;
    padding: 15px;
}
.logo h4 span{
    font-size: 1.3rem;
}
.main-nav ul{
    list-style: none;
}
.main-nav ul li{
    padding: 10px;
}
.main-nav ul a{
    text-decoration: none;
    color: #fff;
}
.button{
    padding: 5px 10px;
    background-color: rgb(6, 174, 0);
    border-radius: 5px;
}
i{
    margin-top: 5px;
    font-size: 1.7rem;
    color: blueviolet;
}
.title-bar{
    width: 100%;
    background-color: rgb(170, 134, 120);
    text-align: center;
}
.title-bar h1{
    padding: 10px 0 20px;
    color: #fff;
    font-size: 2rem;
    opacity: 0.7;
}
.title-bar h1 span{
    font-size: 3rem;
    margin: 0 10px 0 80px;
}

.sticky{
    position: fixed;
    width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 4%;
    z-index: 2;
}
.sticky .logo{
    width: 15%;
}
.sticky .logo h4{
    color: #fff;
    margin-top: 0;
}
.sticky .main-nav{
    width: 85%;
}
.sticky .main-nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*　コンセプトページ　*/
.concept-page{
    width: 100%;
    height: 100vh;
    position: relative;
}
.shop-image{
    width: 40%;
    position: absolute;
    top: 90px;
    left: 20px;
}
.interior-image{
    width: 35%;
    position: absolute;
    bottom: 0px;
    right: 0;
}
.flower-image{
    width: 17%;
    position: absolute;
    bottom: 0;
    left: 40%;
    transform: translateX(-100%);
}
.title-area{
    position: absolute;
    top: 100px;
    right: 50px;
}
.title-area h2{
    font-size: 3rem;
}
.text-area{
    width: 15%;
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-25%);
}

/*　メニューページ　*/
.menu-page{
    width: 100%;
    padding: 100px 15% 30px;
    text-align: center;
}
.menu-page h2{
    padding: 10px;
    margin-top: 20px;
}
.menu{
    background-color: #eeeeee;
    border-radius: 5px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}
.menu-item{
    text-align: left;
}
.menu p{
    padding: 10px;
}

/*　スタッフ紹介　*/
.staff-page{
    width: 100%;
    padding: 0 15%;
}
.staff-page h2{
    text-align: center;
    padding-top: 100px;
    font-size: 2rem;
    border-bottom: 2px solid rgb(170, 134, 120);
}
.staff{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.staff img{
    width: 300px;
}

/*　ショップインフォメーション　*/
.shop-info{
    width: 100%;
    margin-bottom: 100px;
}
.info{
    display: flex;
}
.info-text{
    width: 50%;
}
.map{
    width: 50%;
    position: relative;
}
iframe{
    width: 96%;
    margin-right: 4%;
}
.card{
    position: absolute;
    top: 10px;
    left: 10px;
    backdrop-filter: blur(3px);
    width: 218px;
    height: 119px;
    z-index: 1;
}
.card-in{
    position: absolute;
    top: 160px;
    left: 210px;
    backdrop-filter: blur(5px);
    width: 200px;
    height: 50px;
    z-index: 1;
}

.shop-info h2{
    text-align: center;
    padding-top: 100px;
    margin: 0 15% 50px;
    font-size: 2rem;
    border-bottom: 2px solid rgb(170, 134, 120);
}
.info-text{
    margin-top: -20px;
    padding: 0 15%;
}
.info-text h4{
    margin-top: 20px;
}
.info-text p{
    margin-left: 20px;
    margin-bottom: 10px;
}
.info-text a{
    text-decoration: none;
    color: #fff;
    margin: 20px;
}

/*　レスポンシブ対応　*/
@media (max-width: 850px){
    body{
        overflow-x: hidden;
    }
    .sticky{
        display: none;
    }

    /*　トップページ　*/
    .media-header{
        width: 100vw;
        height: 15vh;
        position: fixed;
        top: 0;
        left: 0;
        padding-left: 4%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(170, 134, 120);
        z-index: 2;
    }
    .top-page{
        height: auto;
    }
    .flex-container{
        margin-top: 15vh;
    }
    .flex-container img{
        width: 50%;
        height: 70vh;
        object-fit: cover;
        object-position: center;    
    }
    .nav-bar{
        position: fixed;
        top: 15vh;
        height: 85vh;
        right: 0;
        width: 50%;
        background-color: rgba(170, 134, 120, 0.7);
        text-align: center;
        z-index: 1000;
        opacity: 0!important;
        transition:  all 0.3s ease-in!important;
    }
    .nav-bar.sticky{
        position: fixed;
        top: 15vh;
        height: 85vh;
        right: 0;
        width: 50%;
        background-color: rgba(170, 134, 120, 0.7);
        text-align: center;
        z-index: 1000;
        opacity: 0!important;
        transition:  all 0.3s ease-in!important;
    }
    .nav-bar.active{
        opacity: 1!important;
        transition: all 0.3s;
    }
    .nav-bar.active.sticky{
        opacity: 1!important;
        transition: all 0.3s;
    }
    .nav-bar .logo{
        display: none;
    }
    .main-nav ul li{
        margin: 20px 0;
    }
    .main-nav ul li .button{
        width: 60%;
        display: block;
        margin: 0 auto;
    }
    .title-bar{
        width: 100%;
        height: 15vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .title-bar h1 span{
        font-size: 3rem;
        margin: 0 10px 0 20px;
    }

    /*　コンセプトページ　*/
    .concept-page{
        width: 100%;
        height: auto;
        padding-top: 15vh;
        margin-bottom: 0;
    }
    .shop-image{
        width: 100%;
        position: static;
        top: auto;
        left: auto;
    }
    .interior-image{
        width: 100%;
        position: static;
        bottom: auto;
        right: auto;
    }
    .flower-image{
        display: none;
    }
    .title-area{
        position: static;
        top: auto;
        right: auto;
        text-align: center;
        margin-top: 30px;
    }
    .title-area h2{
        font-size: 3rem;
        position: static;
    }
    .text-area{
        width: 100%;
        padding: 0 10%;
        position: static;
        top: auto;
        left: auto;
        text-align: center;
        transform: translateX(0);
    }
    .text-area p{
        margin-top: 10px;
    }
    
    /*　メニューページ　*/
    .menu-page{
        width: 100%;
        padding: 15vh 4% 0;
        text-align: center;
    }
    .menu-page h2{
        padding: 10px;
        margin-top: 20px;
    }
    .menu{
        background-color: #eeeeee;
        border-radius: 5px;
        padding: 30px;
        display: flex;
        justify-content: space-between;
    }
    .menu-item{
        text-align: left;
    }
    .menu p{
        padding: 10px;
    }

    /*　スタッフ紹介　*/
    .staff-page{
        width: 100%;
        padding: 15vh 0 0;
        margin-top: 0;
    }
    .staff-page h2{
        text-align: center;
        padding-top: 10px;
        font-size: 2rem;
        border-bottom: 2px solid rgb(170, 134, 120);
    }
    .staff{
        width: 100%;
        padding: 50px 0 0;
        display: flex;
        flex-direction: column;
    }
    .staff img{
        width: 100%;
        order: 1;
    }
    .staff-info{
        padding: 10px 10px 0px;
        order: 2;
    }

    /*　ショップインフォメーション　*/
    .shop-info{
        width: 100%;
        padding-top: 15vh;
        margin-bottom: 100px;
    }
    .shop-info h2{
        text-align: center;
        padding-top: 10px;
        margin: 0 0 30px;
        font-size: 2rem;
        border-bottom: 2px solid rgb(170, 134, 120);
    }
    .info{
        display: flex;
        flex-direction: column;
    }
    .info-text{
        width: 100%;
        padding: 0 4%;
    }
    .map{
        width: 100%;
        padding: 0 4%;
        margin-top: 20px;
        position: relative;
    }
    iframe{
        width: 100%;
        margin-right: 0%;
    }
    .card{
        position: absolute;
        top: 10px;
        left: 10px;
        backdrop-filter: blur(3px);
        width: 218px;
        height: 119px;
        z-index: 1;
    }
    .info-text{
        margin-top: -20px;
        padding: 0 15%;
    }
    .info-text h4{
        margin-top: 20px;
    }
    .info-text p{
        margin-left: 20px;
        margin-bottom: 10px;
    }
    .info-text a{
        text-decoration: none;
        color: #fff;
        margin: 20px;
    }
}




