@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}


/* heroセクション */
.hero-section{
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg,rgba(0,0,0,1),rgba(0,0,0,0.3),rgba(0,0,0,1));
    position: relative;
    overflow: hidden;
}

/* ヘッダー */
header{
    width: 100%;
    height: 20vh;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    position: relative;
}
header h3 span{
    color: #ff006f;
}
header ul{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
header ul li a{
    display: block;
    transform: translateY(0);
    transition: 0.3s;
}
header ul li a:hover{
    color: #ff006f;
    transform: translateY(-5px);
}
/* ヘッダー下の赤ライン */
header::after{
    content: "";
    height: 10px;
    background-color: #ff006f;
    box-shadow: 0 0 30px #ff006f;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: lineWidth 4s linear infinite;
}
@keyframes lineWidth{
    0%{
        width: 0%;
    }
    50%{
        width: 100%;
    }
    100%{
        width: 0%;
    }
}

.hero-content{
    width: 100%;
    height: 80vh;
    padding: 0 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-text-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero-text-content h1{
    font-size: 3rem;
    color: #fff;
    line-height: 1.2;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.hero-text-content h1 span{
    color: #ff006f;
}
.hero-text-content p{
    font-size: 2rem;
    color: #fff;
    font-weight: 600;
    letter-spacing: 2px;
}
.hero-text-content p span{
    color: #00a5dd;
}
.hero-img img{
    width: 250px;
    aspect-ratio: 2 / 3;
    object-fit: cover;
    object-position: center;
}


/* コレクションセクション */
.collection{
    width: 100%;
    padding-top: 50px;
}
.section-title{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 50px;
}

.collection ul{
    width: 100%;
}
.collection ul li{
    width: 100%;
    padding: 50px;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
}


/* コンテンツ1 */
.content1{
    background-color: #0e1538;
}
.box{
    width: 200px;
    height: 100px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 5;
    background-color: #0e1538;
    color: #fff;
}
.box::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ff006f;
    animation: lineMove 4s 0s linear infinite;
}
.box::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00a5dd;
    animation: lineMove 4s 2s linear infinite;
}
@keyframes lineMove{
    0%{
        transform: translate(0,0);
        width: 50px;
        height: 50px;
    }
    9%{
        transform: translate(0,0);
        width: 100px;
        height: 10px;
    }
    17%{
        transform: translate(50px,0);
        width: 100px;
        height: 10px;
    }
    25%{
        transform: translate(100px,0);
        width: 100px;
        height: 10px;
    }
    33%{
        transform: translate(150px,0);
        width: 50px;
        height: 50px;
    }
    42%{
        transform: translate(190px,0px);
        width: 10px;
        height: 100px;
    }
    50%{
        transform: translate(150px,50px);
        width: 50px;
        height: 50px;
    }
    59%{
        transform: translate(100px,90px);
        width: 100px;
        height: 10px;
    }
    67%{
        transform: translate(50px,90px);
        width: 100px;
        height: 10px;
    }
    75%{
        transform: translate(0,90px);
        width: 100px;
        height: 10px;
    }
    83%{
        transform: translate(0,50px);
        width: 50px;
        height: 50px;
    }
    92%{
        transform: translate(0,0px);
        width: 10px;
        height: 100px;
    }
    100%{
        transform: translate(0,0);
        width: 50px;
        height: 50px;
    }
}


/* コンテンツ2 */
.content2{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.splash{
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 10px 10px 30px rgba(0,0,0,0.3);
}

